PORT=5000
MONGO_URI=mongodb+srv://hemanoffice31_db_user:TzjeyM1AjjgR6oOV@cluster0.aqub7dx.mongodb.net/portfolio
FRONTEND_URL=http://localhost:5173
GMAIL_USER=hemanoffice31@gmail.com
GMAIL_APP_PASS=mrop msuw eaqj zmqb